<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ .Site.Title }}</title>
    <link rel="icon" href="/favicon.png"/>
    <link rel="stylesheet" href="/styles/styles.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<div id="menu" class="navigation hidden">
    <h4>Навигация</h4>
    <ul>
    </ul>
</div>

<main>
    {{ range sort .Site.RegularPages ".Params.Order" }}
    <section>
        <h1 id="{{ .File.BaseFileName }}">{{ .Title }}</h1>
        {{ .Content }}
        {{ if .Params.Participants }}
        <details class="dnd-details">
            <summary>Игровая информация</summary>

            <!-- Информация о сессии -->
            <div class="session-info">
                <p><strong>Дата проведения:</strong> {{ .Params.Date | time.Format "02.01.2006" }}</p>
                <p><strong>Длительность:</strong> {{ .Params.duration }}</p>
                <p><strong>Полученный опыт:</strong> {{ .Params.experience }} XP</p>

                {{ if .Params.good_roleplay }}
                <p><strong>Игроки с хорошим отыгрышем:</strong> {{ delimit .Params.good_roleplay ", " }}</p>
                {{ end }}
            </div>

            <table id="session-participants" class="dnd-table">
                <thead>
                <tr>
                    <th>Игрок</th>
                    <th>Персонаж</th>
                    <th>Класс</th>
                    <th>Раса</th>
                    <th>Уровень</th>
                </tr>
                </thead>
                <tbody>
                {{ range .Params.Participants }}
                <tr>
                    <td data-label="Игрок">{{ .PlayerName }}</td>
                    <td data-label="Персонаж">{{ .CharacterName }}</td>
                    <td data-label="Класс">{{ .Class }}</td>
                    <td data-label="Раса">{{ .Race }}</td>
                    <td data-label="Уровень">{{ .Level }}</td>
                </tr>
                {{ end }}
                </tbody>
            </table>
            {{ else }}
            <p>Нет данных об участниках.</p>
        </details>
        {{ end }}
    </section>
    {{ end }}
</main>

<script src="/scripts/main.js"></script>
</body>
</html>