<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Site.Title }}</title>
    <link rel="icon" href="/favicon.png" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<div id="menu" class="navigation hidden">
    <h4>Навигация</h4>
    <ul>
    </ul>
</div>

<main>
    {{ range .Site.RegularPages }}
    <h1 id="{{ .File.BaseFileName }}">{{ .Title }}</h1>
    {{ .Content }}
    {{ end }}
</main>

<script src="/scripts/main.js"></script>
</body>
</html>